{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ordem de Serviço</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="login-container">
        <h2>Acesso ao Sistema</h2>
        
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>

</body>
</html>