{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Solicitação</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Excluir Solicitação</h1>
    <p>Tem certeza que deseja excluir a solicitação: <strong>"{{ object.descricao }}"</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, desejo excluir</button>
        <a href="{% url 'solicitacao_list' %}">Cancelar</a>
    </form>
</body>
</html>