{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Formulário de Solicitação</title>
</head>
<body>
    <div class="form-container">
        <h1>{% if form.instance.pk %}Editar{% else %}Nova{% endif %} Solicitação</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Salvar Solicitação</button>
        </form>
        
        <br>
        <a href="{% url 'solicitacao_list' %}" style="display: block; text-align: center;">Cancelar e Voltar</a>
    </div>
</body>
</html>